<p>about-me works!</p>
<div class="container aboutMeContainer justify-content-center">
  <div class="row align-items-center justify-content-center">
    <div class="col-xxl-5 col-xl-4 col-lg-4 col-md-4 halloCol">
      <h2 class="language">Hallo!</h2>
    </div>
    <div
      class="col-lg-3 col-xl-2 col-sm-4 col-md-3 order-md-3 order-sm-2 imageCol"
    >
      <img src="assets/myImage-modified.png" class="avatar" id="myImage" />
    </div>

    <div
      class="col-lg-5 col-xl-4 col-sm-6 col-md-4 order-md-2 order-sm-3 aboutMeCol"
    >
      <h3 style="padding-top: 10px" id="aboutMe">about me</h3>
      <br />
      <p id="aboutMePara">
        I am Vicky Sharma, born in the city of joy Kolkata, India. I am
        currently living in Germnany and pursing my studies in Applied Computer
        Science.
      </p>
    </div>
  </div>
  <!--<app-motivation class="py-4"></app-motivation>-->
  <!-- >app-timeline></app-timeline>-->
</div>

<pre>
  <code class="language-java">package S04_State;

import S02_Builder.OtherComponents.Door;

public class Open implements IDoorState{{"{"}}

    @Override
    public void updateDoorState(Door door, IDoorState state) {{"{"}}
        door.setState(state);
    {{"}"}}

    public String toString(){{"{"}}
        return "door is open! ";
    {{"}"}}
{{"}"}}</code>
</pre>
