<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 myCol">
      <p class="h1 p-2 heading">Introduction to Data Warehouse</p>
      <p style="color: black">
        A data warehouse is a large, centralized repository of data that is
        specifically designed to support business intelligence (BI) activities,
        data analysis, and reporting. It is a structured and integrated
        collection of data from various sources, such as databases,
        applications, and external systems. The primary purpose of a data
        warehouse is to provide a single, consolidated view of historical and
        current data that can be used for in-depth analysis and decision-making.
      </p>
    </div>
    <div class="col-lg-3 myCol useful-links-bar">
      <p class="h5 p-2">Useful links</p>
      <div class="row p-2">
        <div class="col-12 p-2 mb-2 link-card">
          <p class="h6 p-1">heading 1</p>
          <hr class="myhr" />
          <a
            href="https://bestofjs.org/projects/highlightjs"
            target="_blank"
            class="p-1"
            >https://bestofjs.org/projects/highlightjs</a
          >>
        </div>
        <div class="col-12 p-2 mb-2 link-card">
          <p class="h6 p-1">heading 2</p>
          <hr class="myhr" />
          <a
            href="https://bestofjs.org/projects/highlightjs"
            target="_blank"
            class="p-1"
            >https://bestofjs.org/projects/highlightjs</a
          >>
        </div>
        <div class="col-12 p-2 mb-2 link-card">
          <p class="h6 p-1">heading 3</p>
          <hr class="myhr" />
          <a
            href="https://bestofjs.org/projects/highlightjs"
            target="_blank"
            class="p-1"
            >https://bestofjs.org/projects/highlightjs</a
          >>
        </div>
      </div>
    </div>
  </div>
</div>
