@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.heading {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.data-warehouse-image {
  width: 70%;
  height: 300px;
}

.container-fluid,
.row,
.myCol,
.link-card {
  /*border: 1px solid black;*/
}

.useful-links-bar {
  top: 9%;
  position: -webkit-sticky;
  position: sticky;
  overflow: auto;
  width: 25%;
  height: 60vh;

  @media (max-width: 1000px) {
    width: 100%; /* You can adjust this value as needed */
  }

  /* Set the width for smaller mobile devices */
  @media (max-width: 480px) {
    width: auto;
  }
}

.link-card {
  background-color: #beccdc;
  color: black;
  border-radius: 10px;
}

.myhr {
  color: black;
}

p,
ul,
li {
  color: black;
  font-family: "Poppins", sans-serif;
}

.list-div {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
}

.list_tag {
  color: blue;
}

code {
  border-radius: 5px;
}

.image-div {
  margin: auto;
  width: 50%;
}
